@media only screen and (max-width: 800px) {
  main {
    display: block;
  }
  .toosmall {display: none;}

.background {
  z-index: unset;
  opacity: 1;
  display: block;
}
.toosmall span {display: none;}
}
@media only screen and (max-height: 100px) {
  main {
    display: none;
  }

  .background {
    z-index: -2;
  }
  .toosmall {display: block;}

  .toosmall span {display: block;}
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 90%;
}

/* Track */
::-webkit-scrollbar-track {
 background: transparent;
 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  transition: all 0.5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
  transition: all 0.5s;
}


main {
    height: 100vh;
    width: 100vh;
}

.background {
    background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: absolute;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  -webkit-filter: grayscale(90%); /* Safari 6.0 - 9.0 */
  filter: grayscale(90%);
  transition: 2s;
  opacity: 0.5;
}

.mainwrapper {
    height: 80vh;
    width: 90vw;
    transition: 0.5s;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 999;
}

.griditems {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(50px);
  -webkit-backdro-filter: blur(50px);
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  position: relative;
  float: left;
  margin: 10px;
  overflow: hidden;
}

.infogrid {
 width: 60%;
 overflow: scroll;
 transition: 0.5s;
}

.namegrid {
  width: 30%;
  transition: 0.5s;
}

.center {
  left: 50%;
  transform: translate(0%,-50%);
}

.padding {
 position: absolute;
 width: 90%;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
}

.infoheight {
  height: 90%;
}

.birdname {
  font-size: 26px;
  text-align: center;
  font-weight: 600;
  margin: 0px 0px 1px 0px;
}

.sciencename {
  text-align: center;
  font-style: italic;
  font-size: 20px;
}


.birdpicture {
  width: 100%;
  height: auto;
  position: relative;
  object-fit: cover;
  border-radius: 10px;
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
  transition: 0.5s;
}

.birdpicture:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: 0.5s;
}

@media only screen and (max-width: 700px) {
  .infogrid {
    width: 40%;
    transition: 0.5s;
    font-size: 11px;
   }
   
   .namegrid {
     width: 40%;
     transition: 0.5s;
   }
   .birdname {
     font-size: 14px;
   }
   .sciencename {
     font-size: 12px;
   }
   .birdpicture {
     width: 90%;
     margin: 0 auto;
     position: relative;
     left: 50%;
     transform: translatex(-50%);
   }
}