.background {
    background-image: url(Images/Akikiki/IMG_3893_JMH.jpg);
}

.bg01 {
    background-image: url(Images/Akikiki/JMH_2017_AKIK_sittingonnest004.jpg);
    background-size: 800px;
    background-position: center;
}

.bg02 {
    background-image: url(Images/Akikiki/AKIK_LAB_001.jpg);
}

.cardbg1 {
    background-image: url(Images/Akikiki/IMG_3893_JMH.jpg);
}