.loader {background: url(Images/Anianiau/Anianiau_LSB.jpg);}

.background {
    background-image: url(Images/Anianiau/Anianiau_LSB.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    opacity: 0.3;
    z-index: 1;
    position: absolute;
}

.backgroundvideo {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: 100vh;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    object-fit: cover;
    display: none;
    transition: 0s;
    opacity: 0.3;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    text-align: center;
    transition: 0.5s;
}

.heading {font-size: 2rem; font-weight: 700;}

.subheading {font-size: 1.5rem; font-weight: 500;}

.right {right: 10px; display: none;}

.left {left: 10px; display: none;}

.cards {
    height: 640px;
    width: 200px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    transition: 0.5s;
}

.card {
    height: 120px;
    width: 120px;
    background: black;
    margin: 20px auto;
    border-radius: 100%;
    border: 1px solid white;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
}

.card:hover {
    height: 160px;
    width: 160px;
    border: 1.5px solid white;
    transition: 0.5s;
    cursor: pointer;
}

.cardbg {
    height: 122px;
    width: 122px;
    background: black;
    opacity: 0.4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition-duration: 0.5s;
    pointer-events: none;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.cardtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    pointer-events: none;
    transition: 0.5s;
}

.card:hover .cardtext {opacity: 0; transition: 0.5s;}

.bg01 {
    background-image: url(Images/Akekee/AKEK_banding.JPG);
    background-size: 390px;
    background-position: -90px -60px;
}

.bg02 {
    background-image: url(Images/Akikiki/JMH_2017_AKIK023.JPG);
    background-size: 300px;
    background-position: -70px -40px;  
}

.bg03 {
    background-image: url(Images/Puaiohi/Puaiohi_LAB.jpg);
    background-size: cover;
}

.bg04 {
    background-image: url(Images/Kauai_Amakihi/Kauai_Amakihi_LAB.jpg);
    background-size: 300px; 
}

.bg05 {
    background-image: url(Images/Apapane/Apapane_LSB.jpg);
    background-size: 1200px; 
}

.bg06 {
    background-image: url(Images/Anianiau/JMH_ANIA_2017_001.JPG);
    background-size: 800px;
}

.bg07 {
    background-image: url(Images/Kauai_Elepaio/Kauai_Elepaio_LSB.jpg);
    background-size: 300px; 
}

.bg08 {
    background-image: url(Images/Iiwi/Iiwi_LAB010.jpg);
    background-size: 252px; 
}

.card:hover .cardbg {
    transition: 0.5s;
    height: 162px;
    width: 162px;
    background-position: center;
    opacity: 1;
}

#newpage {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: black;
    z-index: 997;
    opacity: 0;
    pointer-events:none;
    transition-duration: 0.5s;
}

.dialouge {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: black;
    z-index: 999;
    pointer-events: none;
    animation-name: fadein;
    animation-duration: 8s;
    animation-delay: 1s;
    animation-play-state: running;
    opacity: 0;

}

.dialouge span {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    animation-name: fadein;
    animation-duration: 6.5s;
    animation-delay: 1s;
    animation-play-state: running;
    opacity: 0;
}

@keyframes fadein {
    0% {opacity: 0;}
    25% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}