/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8);
}

/*End*/

a {
  text-decoration: underline;
}

.background {
  background-position: center;
  background-size: cover;
  transform: translate(0,-300px);
  height:1700px;
  width: 100%;
  position: absolute;
}

.heading {font-size: 2rem; font-weight: 700;}

.subheading {font-size: 1.5rem; font-weight: 500;}

main {
    position: relative;
    z-index: 999;
}

.loader {
  scroll-behavior: smooth;
  overflow: none;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.birdtitle {
    font-size: 60px;
    font-weight: 900;
    padding: 20px 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
    z-index: 999;
    margin: -200px 0;
}

.sn {
    font-style: italic;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
    font-size: 55px;
    text-transform: lowercase;
    width: 1000px;
    height: 50px;
    position: relative;
}


.cardwrapper {
  height: 1000px;
  position: sticky;
  margin: 200px 0;
}

.card {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 100%;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 200px rgb(165, 165, 165);
  transition: all 1s;
  background-size: cover;
}

.card:hover {
 cursor: pointer;
 width: 200px;
 height: 200px;
 margin: -25px;
}



.c1 {
  position: absolute;
  right: 80px;
  top: 80px;
}


.c2 {
  position: absolute;
  left: 80px;
  top: 420px;

}

.c3 {
  position: absolute;
  right: 80px;
  top: 800px;
}

.card-open {
  display: block;
  opacity: 0;
  overflow: hidden;
  overflow-y: auto;
  color: black;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0,-50%);
  height: 95%;
  width:460px;
  scroll-behavior: smooth;
  color: rgb(0, 0, 0);
  transition: all 0.5s;
}



.co2 {
  direction:rtl; 
  left: 0;
  height: 100%;
}

.co2 div {
  direction: ltr;
}


@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v90/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUcel5euIg.woff2) format('woff2');
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
 
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  padding: 20px;
  margin: 10px;
  transition: all 0.5s;
  border-radius: 100%;
  z-index: 999;
  background: rgba(0,0,0,0.8);
  display: none;
  backdrop-filter: blur(10px);
 -webkit-backdrop-filter: blur(10px);
 animation-name: closein;
 animation-duration: 2s;
 animation-play-state: paused;
 
}

.cc1 {
  position: absolute;
  right: 450px;
  top: 50px;
  
}

.cc2 {
  position: absolute;
  left: 450px;
  top: 390px;
  
}

.cc3 {
  position: absolute;
  right: 450px;
  top: 770px;
  
}


@keyframes closein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes closeout {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.image {
  width: 200px;
  margin: 0 auto;
  border-radius: 100%;
  height: 200px;
  left: 10px;
  padding: 20px;
  position: relative;
  object-fit: cover;
  -o-object-fit: cover;
}

.img-move {
  width: 100%;
}

.img2 {
  right: 10px;
  margin: 0px 100px;
  width: 300px;
  height: 300px;
}

@keyframes rotateclose {
  from{ transform: rotate(-360deg); }
  to{ transform: rotate(360deg); }
}